{% extends base_template %}
{% load static %}
{% load thumbnail %}
{% load i18n %}

{% block title %}{% trans "Sign-In" %}{% endblock %}

{% block content %}
{% if not request.htmx %}<div class="w-50 p-3 container text-center">{% endif %}
<form action="{{ url }}" method="post" class="justify-content-center">
	{% csrf_token %}

	{% for key, value in request.GET.items %}
		{% if key == 'next' %}
	    	<input type="hidden" name="next" value="{{ value }}" >
	    {% endif %}
	{% endfor %}

	<div class="text-center">
		<h3><a class="navbar-brand" href="{% url 'home' %}">{% trans "Sign-In" %}</a></h3>
	</div>

	<div class="modal-header">
		<h1 class="modal-title fs-5" id="modal-label">{{ title }}</h1>
		{% if base_template != 'base.html' %}
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		{% endif %}
	</div>
	<div class="modal-body">
		{% include 'modal-form.html' %}
	</div>
	<div class="modal-footer gap-2">
		<div class="p-2 flex-fill">
			Don't have an account? <a hx-target="#user-modal-container" hx-push-url="false" hx-boost="true" hx-indicator="#navbar-indicator" href="{% url 'account:signup' %}">Create Account</a>
		</div>
		<input type="submit" value="SignIn" class="btn btn-lg btn-primary pull-right" />
	</div>
</form>
{% if not request.htmx %}</div>{% endif %}
{% endblock %}
